Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.

Non-relational databases (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form. Instead, non-relational databases might be based on data structures like documents. A document can be highly detailed while containing a range of different types of information in different formats.

if your “data is unstructured and complex, or if you can't pre-define your schema, you'd better opt for MongoDB.”

Q2. State and Explain the features of MongoDB.

1. Support ad hoc queries

In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing

You can index any field in a document.

3. Replication

MongoDB supports Master Slave replication.

A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data

MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing

It has an automatic load balancing configuration because of data placed in shards.

6. Supports map reduce and aggregation tools.

7. Uses JavaScript instead of Procedures.

8. It is a schema-less database written in C++.

9. Provides high performance.

10. Stores files of any size easily without complicating your stack.

11. Easy to administer in the case of failures.

12. It also supports:

JSON data model with dynamic schemas
Auto-sharding for horizontal scalability
Built in replication for high availability

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [36]:
import pymongo

# Create a new client and connect to the server
client = pymongo.MongoClient("mongodb+srv:/fullurl/t/?retryWrites=true&w=majority")

In [37]:
db = client["mydb"]

In [38]:
new_column = db["my_collection"]

In [22]:
client

MongoClient(host=['ac-tnwgmod-shard-00-01.wtrrbzu.mongodb.net:27017', 'ac-tnwgmod-shard-00-00.wtrrbzu.mongodb.net:27017', 'ac-tnwgmod-shard-00-02.wtrrbzu.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-awqgvy-shard-0', tls=True)

In [30]:
db = client['pwskills']

In [39]:
data = {"name" : "sudh",
        "class" : "data science masters",
        "timing" :"flexi"
    
}

In [40]:
new_column.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [41]:
data = {"name" : "krish",
        "class" : "data science masters",
        "timing" :"flexi"
    
}

In [42]:
new_column.insert_one(data)

In [43]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [44]:
new_column.insert_many(data3)

In [46]:
for i in new_column.find():
    print(i)

{'_id': ObjectId('65363569ce7394f32cf7e0f3'), 'name': 'sudh', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65363983ce7394f32cf7e0f4'), 'name': 'krish', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('653639cace7394f32cf7e0f5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653639cace7394f32cf7e0f6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653639cace7394f32cf7e0f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653639cace7394f32cf7e0f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653639cace7394f32cf7e0f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653639cace7394f32cf7e0fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653639cace7394f32cf7e0fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653639cace7394f32cf7e0fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653639cace7394f32cf7e0fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653639cace7394f32cf7e0fe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653639cace7394f32cf7e0ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653639cace7394f32cf7e100'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [53]:
new_column.find_one({'class' : {'$eq' : 'data science masters'}})

{'_id': ObjectId('65363569ce7394f32cf7e0f3'),
 'name': 'sudh',
 'class': 'data science masters',
 'timing': 'flexi'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one

In [54]:
for i in new_column.find():
    print(i)

{'_id': ObjectId('65363569ce7394f32cf7e0f3'), 'name': 'sudh', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65363983ce7394f32cf7e0f4'), 'name': 'krish', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('653639cace7394f32cf7e0f5'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('653639cace7394f32cf7e0f6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653639cace7394f32cf7e0f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653639cace7394f32cf7e0f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653639cace7394f32cf7e0f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653639cace7394f32cf7e0fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653639cace7394f32cf7e0fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653639cace7394f32cf7e0fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653639cace7394f32cf7e0fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653639cace7394f32cf7e0fe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('653639cace7394f32cf7e0ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653639cace7394f32cf7e100'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [55]:
for i in new_column.find({'class' : {'$eq' : 'data science masters'}}):
    print(i)

{'_id': ObjectId('65363569ce7394f32cf7e0f3'), 'name': 'sudh', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65363983ce7394f32cf7e0f4'), 'name': 'krish', 'class': 'data science masters', 'timing': 'flexi'}

In [59]:
for i in new_column.find({'address': 'Mountain 21'}):
    print(i)

{'_id': ObjectId('653639cace7394f32cf7e0f6'), 'name': 'Hannah', 'address': 'Mountain 21'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [82]:
for i in new_column.aggregate(
   [
     { '$sort' : { 'name' : 1 } }
   ]
):
    print(i)

{'_id': ObjectId('653639cace7394f32cf7e0fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653639cace7394f32cf7e0f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653639cace7394f32cf7e0ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653639cace7394f32cf7e0f6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653639cace7394f32cf7e0f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653639cace7394f32cf7e0fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653639cace7394f32cf7e0f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653639cace7394f32cf7e0fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653639cace7394f32cf7e0fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653639cace7394f32cf7e100'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('653639cace7394f32cf7e0fe'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65363983ce7394f32cf7e0f4'), 'name': 'krish', 'class': 'data science masters', 'timing': 'flexi'}
{'_id': ObjectId('65363569ce7394f32cf7e0f3'), 'name': 'sudh', 'class': 'data science masters', 'timing': 'flexi'}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [81]:
new_column.delete_one({'name': 'Amy'})

In [83]:
new_column.delete_many({'class':{'$eq' :'data science masters'}})

In [84]:
for i in new_column.aggregate(
   [
     { '$sort' : { 'name' : 1 } }
   ]
):
    print(i)

{'_id': ObjectId('653639cace7394f32cf7e0fd'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('653639cace7394f32cf7e0f9'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('653639cace7394f32cf7e0ff'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('653639cace7394f32cf7e0f6'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('653639cace7394f32cf7e0f7'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('653639cace7394f32cf7e0fa'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('653639cace7394f32cf7e0f8'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('653639cace7394f32cf7e0fb'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('653639cace7394f32cf7e0fc'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('653639cace7394f32cf7e100'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('653639cace7394f32cf7e0fe'), 'name': 'William', 'address': 'Central st 954'}

In [85]:
new_column.drop()

In [86]:
for i in new_column.aggregate(
   [
     { '$sort' : { 'name' : 1 } }
   ]
):
    print(i)