Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
    [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [17]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [18]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [21]:
newList = sorted(l, key = lambda x : x[1] ,reverse=False)

In [22]:
newList

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
l1 = [1,2,3,4,5,6,7,8,9,10]

In [51]:
square = map(lambda x : x**2 , l1)

In [52]:
list(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [65]:
list2 = list(range(1,25))

In [66]:
list2

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [69]:
from functools import reduce
reduce(lambda x,y : x*y, list2)

620448401733239439360000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
    [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [86]:
list4 = [2,3,6,9,27,60,90,120,55,46]

In [73]:
list(filter(lambda x : x % 2 == 0, list4))

[2, 6, 60, 90, 120, 46]

In [74]:
list(filter(lambda x : x % 3 == 0, list4))

[3, 6, 9, 27, 60, 90, 120]

In [90]:
def divide_2_3(x):
    if x % 2 == 0 and x % 3 == 0:
        return x

In [91]:
divide = filter(divide_2_3, list4)

In [92]:
for i in divide:
    print(i)

6
60
90
120

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
    ['python', 'php', 'aba', 'radar', 'level']

In [93]:
list5 = ['python', 'php', 'aba', 'radar', 'level']

In [94]:
list5

['python', 'php', 'aba', 'radar', 'level']

In [ ]:
filter(lambda x : x == x