Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [7]:
import pandas as pd
data = [4,8,15,16,23,42]
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [11]:
import pandas as pd
list = [1,2,3,4,5,'y','u','i','o','i']
print(pd.Series(list))

0    1
1    2
2    3
3    4
4    5
5    y
6    u
7    i
8    o
9    i
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [17]:
import pandas as pd
data ={'Name':['Alice','Bob','Claire'],'Age' :[25,30,27],'Gender' :['Gender','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Gender
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined.

In [5]:
import pandas as pd
list = [1,2,3,4,5,'y','u','i','o','i']
ser = pd.Series(list)
print(ser)
type(ser)
df = pd.DataFrame(list)
print(df)
type(df)

0    1
1    2
2    3
3    4
4    5
5    y
6    u
7    i
8    o
9    i
dtype: object
   0
0  1
1  2
2  3
3  4
4  5
5  y
6  u
7  i
8  o
9  i

pandas.core.frame.DataFrame

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Slicing, Loc and iloc
loc: select by labels
iloc: select by positions
Slicing: Similar to list slice

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Series Data is mutable whereas Size is Immutable
In Data Frame Data is mutable whereas Size is Immutable
In Panel Data is mutable whereas Size is Immutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [8]:
import pandas as pd
# Create pandas Series
name = pd.Series(["bob","miller","tajur"])
Age = pd.Series([25,35,23])
df=pd.concat([name,Age],axis=1)
print(df)

        0   1
0     bob  25
1  miller  35
2   tajur  23