Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. SQL database system that uses tabular relational model to represent data and their relationship. The NoSQL database is the newer one database that provides a mechanism for storage and retrieval of data other than tabular relations model used in relational databases.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDl stands for Data Definition Language DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
CREATE :
This command is used to create a new table in SQL. 

Syntax –

CREATE TABLE table_name
(
column_1 datatype,
column_2 datatype,
column_3 datatype,
....
);

DROP :
This command is used to remove an existing table along with its structure from the Database.

Syntax –
Syntax to drop an existing table.

DROP TABLE table_name;

ALTER :
This command is used to add, delete or change columns in the existing table.

Syntax –
Syntax to add a column to an existing table.

ALTER TABLE table_name
ADD column_name datatype;

TRUNCATE :
This command is used to remove all rows from the table, but the structure of the table still exists.

Syntax –
Syntax to remove an existing table.

TRUNCATE TABLE table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML or Data Manipulation Language commands deal with the manipulation of data present in the database.

INSERT

Insert command is used to insert data into a table.

The syntax for insert command is as follows −

Syntax

Insert into <table_name> (column list) values (column values);

UPDATE

Update command is used to update existing data within a table.

The syntax for the update command is as follows -

Syntax

UPDATE <table_name> SET column_number =value_number WHERE condition;

DELETE

Delete command is used to delete records from a database table.

The syntax for the delete command is as follows -

Syntax

 Delete from <table_name>WHERE condition;

Q4. What is DQL? Explain SELECT with an example.

DQL is a portion of a SQL statement that allows you to get and organise data from a database.

Syntax

SELECT expression FROM table_x WHERE code_conditions;
Example

SELECT Stu_Name FROM Student WHERE Phone = 9039462908;

Q5. Explain Primary Key and Foreign Key.

Primary keys
    A primary key is a column or a set of columns in a table whose values uniquely identify a row in the table. A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table.

Foreign keys
    A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table. In order to add a row with a given foreign key value, there must exist a row in the related table with the same primary key value.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query. 
The execute () method helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.